<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs ann Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora corporis mollitia quae accusamus culpa excepturi ipsam, quod inventore laudantium ducimus maiores iure, voluptate quasi voluptas. Veritatis ullam perspiciatis assumenda. Explicabo.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat consequatur inventore aperiam sequi, molestias tenetur dicta temporibus provident deserunt aspernatur a dolor? Voluptatum minima eaque numquam quam natus, consequatur quidem.</p>
    <a href="http://google.com" class="btn btn-primary btn-lg" >Ir pagina Google</a>
</div>